{% extends 'base.html.twig' %}
{% block forsession %}
    {% for message in app.flashes('success') %}
        <div id="liveAlertPlaceholder" class="flash-success alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %}
{% endblock %}
{% block body %}

    <form id="form_search" name="search_product" method="post" action="{{ path('showProducts') }}">
        {{ form_widget(formSearchProduct) }}
    </form>

    <div class="row">
        {% for item in pagination %}
            <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp">
                {% embed "product/item.html.twig" with {'item' : item, 'formtype' : 'list'} %}

                {% endembed %}
            </div>
        {% endfor %}
    </div>
    <ul class="pagination">
        <li class="page-item">{{ knp_pagination_render(pagination) }}</li>
    </ul>

{% endblock %}
